{% extends 'app/base.html' %}
{% load static %}
{% block title %} cart {% endblock title %}

{% block usernav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/">Home</a>
</li>

<li class="nav-item dropdown mx-2">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Products
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'category' 'ML' %}">Milk</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'CR' %}">Curd</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'MS' %}">Milkshake</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'LS' %}">Lassi</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'GH' %}">Ghee</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'PN' %}">Paneer</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'CZ' %}">Cheese</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'Ic' %}">Ice-Cream</a></li>
    
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link text-white" href="{% url 'about'  %}">About Us</a>
</li>
<li class="nav-item">
  <a class="nav-link text-white" href="{% url 'contact'  %}">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</li>
</ul>
<form class="d-flex" role="search" action="/search">
  <input class="form-control me-2" type="search" placeholder="Search"  name="search" aria-label="Search">
  <button class="btn btn-outline-dark" type="submit">Search</button>
</form>
</div>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<li class="nav-item dropdown mx-2">
  <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="fa-regular fa-user"></i> {{request.user}}

  </a>
  <ul class="dropdown-menu " aria-labelledby="profileDropdown" >
      <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
      <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
      <li><a class="dropdown-item" href="/logout/">Logout</a></li>
  </ul>

</li>
<li class="nav-item mx-2">
  <a href="{% url 'showcart' %}" class="nav-link text-white"><span class="badge bg-danger">{% if totalitem > 0 %}{{totalitem}}{% endif %}</span> <i class="fa-solid fa-cart-shopping"  ></i> </a>

</li>
<li class="nav-item mx-2">
  <a href="" class="nav-link text-white"><span class="badge bg-danger">{% if  wishlist_count > 0 %}{{ wishlist_count}}{% endif %}</span> <i class="fa fa-heart"></i> </a>

</li>
{% endblock %}


{% block main-content %}
<div class="container my-5">
    <div class="row">
        {% if cart %}
        <h1 class="text-center mb-5">SHOPPING CART</h1>
        <div class="col-sm-8">
        <div class="card">
                <div class="card-body">
                    <h3>cart</h3>
                    {% for item in cart %}
                    <div class="row">
                        <div class="col-sm-3 text-center align-self-center"><img src="{{item.product.product_image.url}}" alt="" srcset="" class="img-fluid img-thumbnail shadow-sm" height="150" width="150"></div>
                        <div class="col-sm-9">
                            <div>
                                <h5>{{item.product.title}}</h5>
                                <p class="mb-3 text-muted small">{{item.product.description}}</p>
                                <div class="my-3">
                                    <label for="quantity">Quantity</label>
                                    <a class="minus-cart btn" pid={{item.product.id}}><i class="fas fa-minus-square fa-lg"></i></a>
                                    <span id="quantity">{{item.quantity}}</span>
                                    <a class="plus-cart btn" pid="{{item.product.id}}"><i class="fas fa-plus-square fa-lg"></i></a>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="remove-cart btn btn-sm btn-secondary mr-3" pid="{{item.product.id}}">Remove-Item</a>
                                    <p class="mb-0"><span><strong>Rs.{{item.product.discounted_price}}</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="text-center">
                    {% endfor %}
                 
                </div>
        </div>
        </div>
    

<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h3>The Total Amount</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-item-center border-0 px-0 pb-0">Amount<span id='amount'>Rs.{{amount}}</span></li>
                <li class="list-group-item d-flex justify-content-between align-item-center px-0 ">Shipping<span>Rs.40.00</span></li>
                <li class="list-group-item d-flex justify-content-between align-item-center border-0 px-0 mb-3">
                    <div>
                        <strong>TOTAL</strong>  <small>(Including GST)</small>
                    </div>
                    <span id="totalamount"><strong>Rs.{{totalamount}}</strong></span>
                </li>
            </ul>
            <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-secondary">Place Order</a></div>
        </div>
    </div>
</div>
{% else %}
  <h1 class="text-center mb-5">Cart is Empty</h1>
{% endif %}
</div>
</div>
{% endblock main-content %}